<html>
<body>
  <p>This window is for cross domain messaging</p>
  <p>Normally, there's no need for it to have any visible content, but 
    for this demo it's helpful to show the script.</p>
  <pre>
  &lt;script&gt;    
      window.parent.postMessage(
        {{ token_object|safe }},
        "{{ origin }}"
      );    
  &lt;/script&gt;
  </pre>
<script>
    let token = {{ token_object|safe }}; // server emits this
    if(token.error && token.error == "missingCredentials"){
        // ??
    }
    window.parent.postMessage(
      token, "{{ origin }}"
    );
</script>
</body>
</html>